.new-leave-component {
  .new-leave-tab {
    .new-leave-tab-space {
      margin-left: 10px;

      gap: 0px !important;

      .application-form {
        margin: 0px !important;
      }
    }

    .leave-form {
      margin-top: 25px;

      .form-item-from-date {
        margin-top: 32px !important;
      }

      .submit-button {
        float: right;
        margin-top: 10px;
      }

      .reset-button {
        margin-right: 10px;
      }

      .number-of-days {
        background-color: white;
        color: black;
      }
    }
  }
}
